<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>USDT充值</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="__CDN__/assets/css/paybase.css"/>
		<link rel="stylesheet" type="text/css" href="__CDN__/assets/css/payindex.css"/>
	</head>
	<body>

	<div class="payment">
		<form method="POST" action="{:url('index/payment/submit')}">
		<div class="payFrom" style="border: none;">
				<div class="title">
					USDT充值
				</div>

				<div class="item flex alcenter">
					<div class="lab">订单号：</div>
					<div><input type="text"  name="id" value="{$order.out_order_id}" disabled="disabled" ></div>
					<input type="hidden" class="xl" name="id" value="{$order.out_order_id}">
				</div>
				<div class="item flex alcenter">
					<div class="lab">金额：</div>
					<div><input type="text"  name="price" value="{$order.price}" disabled="disabled" ></div>
				</div>
				<div class="item flex alcenter">
					<div class="lab">充值地址：</div>
					<div><input type="text"  name="usdt_address" id="usdt_address" value="{$address}" disabled="disabled" ></div>
				</div>
				<div class="item flex alcenter">
					<div class="lab">txid：</div>
					<div><input type="text"  name="txid" value="" class="txid" id="txid"></div>
					<div class="copy" onclick="copy()">复制</div>
				</div>
				<div class="item flex alcenter" style="margin-top:50px;">
					<div class="lab">二维码：</div>
					<div id="Article-content"></div>
				</div>
			</div>
			<div class="btnbox">
				<button  class="btn">已转账，提交订单</button>
			</div>
		</form>

	</div>
	</body>
	<script src="__CDN__/assets/js/jquery-1.10.2.min.js"></script>
	<script src="__CDN__/assets/js/jquery.qrcode.js" type="text/javascript"></script>
	<script src="__CDN__/assets/js/utf.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function(){
			init();
		})
		function init() {
			//Article-content 为显示二维码的div id
			$("#Article-content").qrcode({
					 render : "canvas",    //设置渲染方式，有table和canvas，使用canvas方式渲染性能相对来说比较好
					 text: $('#usdt_address').val(),    //扫描二维码后显示的内容,可以直接填一个网址，扫描二维码后自动跳向该链接
					 width : "200",               //二维码的宽度
					 height : "200",              //二维码的高度
					 background : "#ffffff",       //二维码的后景色
					 foreground : "#000000",        //二维码的前景色
					 // src: './images/wallofcoins.png'             //二维码中间的图片
			 });
		}
		function copy() {
			var Url2=document.getElementById("txid");
			Url2.select(); // 选择对象
			document.execCommand("Copy"); // 执行浏览器复制命令
			alert("已复制好，可贴粘。");
		}

	</script>
</html>
