<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>USDT支付</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="__CDN__/assets/css/paybase.css"/>
		<link rel="stylesheet" type="text/css" href="__CDN__/assets/css/payindex.css"/>
		<link rel="stylesheet" type="text/css" media="all" href="__CDN__/assets/css/exchange.css">
		<script src="__CDN__/assets/js/jquery-1.10.2.min.js"></script>
	</head>
	<body>
		<div class="payment">
			<div class="payFrom">
				<div class="item flex alcenter">
					<div class="lab">商品名称：</div>
					<div><input type="text" value="{$order.title}" disabled="disabled" ></div>
				</div>
				<div class="item flex alcenter">
					<div class="lab">商品价格：</div>
					<div><input type="text"  value="{$order.price}" disabled="disabled" class="red" ></div>
				</div>
			</div>
			<div class="hder">
				<div class="text">请选择付款方式</div>
			</div>
			<div class="con">
				<div class="flex alcenter between">
					<div class="payList flex2">
						<!-- <label>
							<input type="radio" name="payType" value="1" style="display:none;"> -->
						<a href="#loginmodal" id="modaltrigger" class="aui-flex aui-current-item b-line this-card" val="2">
						<div class="box clk">
								<img src="__CDN__/assets/img/exchange.png" >
								<span>策安</span>
						</div>
						</a>
						<!-- </label> -->
					</div>
					<div class="payList flex1">
						<!-- <label>
							<input type="radio" name="payType" value="2"  style="display:none;"> -->
						<a href="/index/payment/chain?id={$id}" target="_blank" class="aui-flex aui-current-item this-card b-line" val="1">
						<div class="box ">
								<img src="__CDN__/assets/img/coin.jpeg" >
								<span>区块链支付</span>
							</div>
						</a>
					<!-- 	</label> -->
					</div>
				</div>
				<div class="flex alcenter between">
					<div class="payList flex1">
						<a href="https://c2c.hbg.com/zh-cn/trade/buy-usdt" target="_blank" class="aui-flex aui-current-item b-line" val="3">
						<div class="box">
							<img src="__CDN__/assets/img/huobi.png" >
							<span>火币</span>
						</div>
						</a>
					</div>
					<div class="payList flex1">
						<a href="https://c2c.binancezh.co/zh-CN/trade/buy/" target="_blank" class="aui-flex aui-current-item b-line" val="4">
						<div class="box">
							<img src="__CDN__/assets/img/bian.png" >
							<span>币安</span>
						</div>
						</a>
					</div>
					<div class="payList flex1">
						<a href="https://www.okcoin.co/" target="_blank" class="aui-flex aui-current-item b-line" val="5">
						<div class="box">
							<img src="__CDN__/assets/img/okcoin.png" >
							<span>OKCOIN</span>
						</div>
						</a>
					</div>
				</div>
				<div class="flex alcenter between">
					<div class="payList flex1">
						<a href="https://pro.coinbase.com/" target="_blank" class="aui-flex aui-current-item b-line" val="6">
						<div class="box">
							<img src="__CDN__/assets/img/coinbase.png" >
							<span>COINBASE</span>
						</div>
						</a>
					</div>
					<div class="payList flex1">
						<a href="https://bitcoin.org/" target="_blank" class="aui-flex aui-current-item b-line" val="7">
						<div class="box">
							<img src="__CDN__/assets/img/bitcoin.png" >
							<span>BIYCOIN</span>
						</div>
						</a>
					</div>
					<div class="payList flex1">
						<a href="https://www.dash.org/" target="_blank" class="aui-flex aui-current-item b-line" val="8">
						<div class="box">
							<img src="__CDN__/assets/img/dash.png" >
							<span>DASH</span>
						</div>
						</a>
					</div>
				</div>
				<div class="flex alcenter between">
					<div class="payList flex1">
						<a href="https://coincheck.com/exchange" target="_blank" class="aui-flex aui-current-item b-line" val="9">
						<div class="box">
							<img src="__CDN__/assets/img/coincheck.png" >
							<span>COINCHECK</span>
						</div>
						</a>
					</div>
					<div class="payList flex1">
						<a href="https://coins.co.th/" target="_blank" class="aui-flex aui-current-item b-line" val="10">
						<div class="box">
							<img src="__CDN__/assets/img/coins.co.th.png" >
							<span>COINS.CO.TH</span>
						</div>
						</a>
					</div>
					<div class="payList flex1">
						<a href="https://crex24.com/zh/exchange/LTC-BTC" target="_blank" class="aui-flex aui-current-item b-line" val="11">
						<div class="box">
							<img src="__CDN__/assets/img/crex24.png" >
							<span>CREX24</span>
						</div>
						</a>
					</div>
				</div>
				<div class="flex alcenter between">
					<div class="payList flex1">
						<a href="https://localbitcoins.com/buy_bitcoins" target="_blank" class="aui-flex aui-current-item b-line" val="12">
						<div class="box">
							<img src="__CDN__/assets/img/localbitcoins.png" >
							<span>LOCALBITCOINS</span>
						</div>
						</a>
					</div>
					<div class="payList flex1">
						<a href="https://www.novadax.com/en" target="_blank" class="aui-flex aui-current-item b-line" val="13">
						<div class="box">
							<img src="__CDN__/assets/img/novadax.png" >
							<span>NOVADAX</span>
						</div>
						</a>
					</div>
					<div class="payList flex1">
						<a href="https://wallofcoins.com/en/orders/?adHash=zi8N6qK" target="_blank" class="aui-flex aui-current-item b-line" val="14">
						<div class="box">
							<img src="__CDN__/assets/img/wallofcoins.png" >
							<span>WALLOFCOINS</span>
						</div>
						</a>
					</div>
				</div>
				<div class="flex alcenter between">
					<div class="payList flex1">
						<a href="https://mixpay.com/cn/platform" target="_blank" class="aui-flex aui-current-item b-line" val="15">
						<div class="box">
							<img src="__CDN__/assets/img/mix.png" >
							<span>MIX</span>
						</div>
						</a>
					</div>
					<div class="payList flex1">
						
					</div>
					<div class="payList flex1">
						
					</div>
				</div>
			</div>
			<!-- <div class="btnbox">
				<a href="javascript:void(0);" class="btn" onclick="pay()" >确认支付</a>
			</div> -->
			<input type="hidden" id="id" value="{$id}">

		</div>

		<div id="loginmodal" style="display:none;">
			<div id="logindiv" style="display:none;">

				<h1>Exchange Login</h1>

				<form id="loginform" name="loginform" method="post" action="{:url('index/payment/exchange')}">

					<label for="username">Username:</label>

					<input type="text" name="username" id="username" class="txtfield" tabindex="1">

					<input type="hidden" name="id" value="{$id}">


					<label for="password">Password:</label>

					<input type="password" name="password" id="password" class="txtfield" tabindex="2">



					<div class="center">
						<input type="button" name="registerbtn" id="registerbtn" class="flatbtn-blu" value="register" tabindex="3">

						<!--				<input type="button" name="generatebtn" id="generatebtn" class="flatbtn-blu" value="generate" tabindex="3">-->
						<input type="submit" name="loginbtn" id="loginbtn" class="flatbtn-blu hidemodal" value="LogIn" tabindex="3">
					</div>
					<!--			<div class="center" style="padding-top: 10px;" >-->
					<!--				<input type="button" name="registerbtn" id="registerbtn" class="flatbtn-blu" value="register" tabindex="3">-->
					<!--			</div>-->
				</form>

			</div>


			<div id="generatediv" style="display:none;">

				<h1>Generate Successful</h1>


				<label for="username">Username:</label>

				<input type="text" name="username" id="generateusername" disabled class="txtfield" tabindex="1">

				<input type="hidden" name="id" value="{$id}">


				<label for="password">Password:</label>

				<input type="text" name="password" id="generatepassword" disabled class="txtfield" tabindex="2">

				<label>Warm tips: please keep your exchange account</label>

				<div class="center" style="padding-top:10px;">
					<input type="button" name="loginbtn" id="exchangebtn" class="flatbtn-blu hidemodal" value="Go To Exchange" tabindex="3">
				</div>


			</div>


			<div id="registerdiv" style="display:none;">

				<h1>Register Exchange</h1>


				<label for="username">Username:</label>

				<input type="text" name="username" id="registerusername" class="txtfield" tabindex="1">

				<input type="hidden" name="id" value="{$id}">


				<label for="password">Password:</label>

				<input type="text" name="password" id="registerpassword" class="txtfield" tabindex="2">

				<label for="password">Confirm password :</label>

				<input type="text" name="password" id="confirmregisterpassword" class="txtfield" tabindex="3">


				<label for="password">Verification Code:</label>

				<input type="text" name="text" id="verificationcode" class="txtfield" style="width: 55%;" tabindex="4">

				<input type="button" name="click_code" id="click_code" class="flatbtn-blu" value="Send" onclick="sendemail()" style="position: relative;left: 58%;bottom: 50px;" tabindex="5">

				<div class="center">
					<input type="button" name="loginbtn" id="registerexchangebtn" class="flatbtn-blu" value="Register" tabindex="6">
				</div>


			</div>
		</div>
	</body>
	<script type="text/javascript" charset="utf-8" src="__CDN__/assets/js/jquery.leanModal.min.js"></script>
	<script type="text/javascript">
		$('#modaltrigger').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });

		$('#modaltrigger').click(function(e){
			$('#logindiv').show();
			$('#modaltrigger').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
		})

		$('#lean_overlay').click(function(){
			$('#logindiv').hide();
			$('#generatediv').hide();
			$('#registerdiv').hide();
		})

		$('#generatebtn').click(function(e){
			//自动注册交易所账号
			$.get('payment/getAccount',function(data,status){
				$('#generateusername').val(data.msg);
				$('#generatepassword').val(data.msg);
			});

			$('#logindiv').hide();
			$('#generatediv').show();
		})

		$('#exchangebtn').click(function(e){
			$('#logindiv').show();
			$('#generatediv').hide();

			var username = $('#generateusername').val();
			var password = $('#generatepassword').val();
			window.open("http://www.otc9xyz.com//#/otc/trade/usdt?username="+username+"&password="+password);
		})

		$('#registerbtn').click(function(e){
			$('#logindiv').hide();
			$('#registerdiv').show();
		})

		$('#registerexchangebtn').click(function(e){
			//手动注册交易所账号
			var username = $('#registerusername').val();
			var password = $('#registerpassword').val();
			var confirmpassword = $('#confirmregisterpassword').val();
			var orderNo = $('#orderNo').val();
			var code = $('#verificationcode').val();

			if(!username){
				alert('Account number cannot be empty');
				return;
			}else if(!password){
				alert('Password cannot be empty');
				return;
			}else if(password != confirmpassword){
				alert(' The two passwords are inconsistent ');
				return;
			}else if(!code){
				alert('code cannot be empty');
				return;
			}else{
				$.get('payment/registerAccount',{username:username,password:password,orderNo:orderNo,code:code},function(data,status){
					if(data.code){
						window.open("http://www.otc9xyz.com//#/otc/trade/usdt?username="+username+"&password="+password);
					}else{
						alert(data.msg);
					}
				});
			}

		})


		var countdown=60;
		function sendemail(){
			var obj = $("#click_code");

			var username = $('#registerusername').val();

			//发送验证码
			$.get('payment/sendMail',{username:username},function(data,status){
				if(data.code){
					settime(obj);
				}else{
					alert(data.msg);
				}
			});
		}
		function settime(obj) { //发送验证码倒计时
			if (countdown == 0) {
				obj.attr('disabled',false);
				//obj.removeattr("disabled");
				obj.val("Send");
				countdown = 60;
				return;
			} else {
				obj.attr('disabled',true);
				obj.val("Resend(" + countdown + ")");
				countdown--;
			}
			setTimeout(function() {settime(obj) },1000)
		}
	</script>

	<script type="text/javascript">
		$(function(){
			$(".payList").on("click",".box",function () {
				$(this).addClass("clk");
				$('.payList .box').not(this).removeClass('clk'); 
			})
		})

		// function pay(){
		// 	var val = $('.con').find('input[type="radio"]:checked').val();
		// 	console.log(val)
		// };
	</script>
	<script src="http://www.jq22.com/js/jq.js"></script>

</html>
